START
PUSHN 3
PUSHN 3
PUSHN 3
PUSHI 0
PUSHI 0
PUSHI 0
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 1
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 2
PUSHI 3
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 0
PUSHI -1
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 1
PUSHI -1
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 2
PUSHI -1
STOREN
PUSHI 0
STOREG 9
CICLO0:
PUSHG 9
PUSHI 3
INF
JZ FIM0
PUSHGP
PUSHI 6
PADD
PUSHG 9
PUSHGP
PUSHI 0
PADD
PUSHG 9
LOADN
PUSHGP
PUSHI 3
PADD
PUSHG 9
LOADN
ADD
STOREN
PUSHGP
PUSHI 6
PADD
PUSHG 9
LOADN
STOREG 11
PUSHS "c["
WRITES
PUSHG 9
WRITEI
PUSHS "] = "
WRITES
PUSHG 11
WRITEI
PUSHS "\n"
WRITES
PUSHG 9
PUSHI 1
ADD
STOREG 9
JUMP CICLO0
FIM0:
PUSHI 0
PUSHS "O return e "
WRITES
WRITEI
STOP
