START
READ
ATOI
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 1
STOREG 1
CICLO2:
PUSHG 1
PUSHG 0
PUSHI 1
ADD
INF
JZ FIM2
READ
ATOI
STOREG 4
PUSHG 2
PUSHI 0
EQUAL
JZ ELSE1
PUSHG 4
STOREG 3
PUSHI 1
STOREG 2
JUMP FIM1
ELSE1:
PUSHG 4
PUSHG 3
INF
JZ FIM0
PUSHG 4
STOREG 3
FIM0:
FIM1:
PUSHS "apos "
WRITES
PUSHG 1
WRITEI
PUSHS " iteracoes o minimo e "
WRITES
PUSHG 3
WRITEI
PUSHS "\n"
WRITES
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP CICLO2
FIM2:
PUSHG 3
PUSHS "O return e "
WRITES
WRITEI
STOP
